<form (ngSubmit)="agregarHabilidad()" class="row card m-3">
    <div class="row">
        <div>
            <label for="habilidad">Habilidad</label>
            <input [(ngModel)]="habilidad.habilidad" type="text" class="form-control" id="habilidad" name="habilidad">
        </div>
        <div>
            <label for="porcentaje">Porcentaje</label>
            <input [(ngModel)]="habilidad.porcentaje" type="text" class="form-control" id="porcentaje" name="porcentaje">
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <button type="submit" class="btn btn-theme">AGREGAR</button>
            <a [routerLink]="'/portfolio'"><button class="btn btn-secondary">SALIR</button></a>
        </div>
        <div class="col">

        </div>
    </div>
</form>