<mat-card class="card">
    <mat-list *ngFor="let acerca of acerca">
        <div [ngStyle]="{'background-image': 'url(' + acerca.portada + ')'}" 
        alt="Foto de Portada">
            <img class="rounded-circle" alt="Foto de Perfil" id="profilePhoto"
            [src]="acerca.foto">                
        </div>
        <button mat-mini-fab *ngIf="isUserLoggedIn()" 
                (click)="openEditDialog(acerca.id)" class="editButton"
                matTooltip="Editar perfil">
                <mat-icon>edit</mat-icon>
        </button>
        <h1>{{acerca.nombre}}</h1>
        <h3>{{acerca.puesto}}</h3>
    </mat-list>
</mat-card>
