<div class="card m-3" *ngFor="let acerca of acerca">
    <div [ngStyle]="{'background-image': 'url(' + acerca.portada + ')'}">
    <div class="row"> 
        <div class="col-9">

        </div>
        <div class="col">
            <button *ngIf="isUserLoggedIn()" (click)="editar(acerca.id)" class="btn btn-theme float-end">EDITAR</button>
        </div>
    </div>
    <div class="row">   
        <div class="col-3">
            <img class="img-fluid rounded-circle" [src]="acerca.foto">                
        </div>
        <div class="col-9">

        </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-theme">{{acerca.nombre}}</h1>
            <h3 class="text-secondary">{{acerca.puesto}}</h3>
        </div>
        <div class="col">
    
        </div>
    </div>
</div>
