<div class="card m-3">
    <div class="row m-2">
        <div class="col-9">
            <h1 class="text-theme">
                Habilidades
                <a *ngIf="isUserLoggedIn()" [routerLink]="'/agregar-habilidades'">
                    <button class="btn btn-theme rounded-circle" 
                        id="editButton" data-toggle="tooltip" 
                        data-placement="bottom" title="Agregar habilidad">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </a>
            </h1>
        </div>
        <ol class="list-unstyled" *ngFor="let habilidad of habilidades">
            <h2 class="text-secondary">
                {{habilidad.habilidad}}
                <button *ngIf="isUserLoggedIn()" (click)="editar(habilidad.id)" 
                    class="btn btn-secondary rounded-circle" 
                    id="editButton" data-toggle="tooltip" 
                    data-placement="bottom" title="Editar">
                    <i class="bi bi-pencil"></i>
                </button>    
                <button *ngIf="isUserLoggedIn()" (click)="eliminar(habilidad.id)" 
                    class="btn btn-danger rounded-circle" 
                    id="editButton" data-toggle="tooltip" 
                    data-placement="bottom" title="Eliminar">
                    <i class="bi bi-x-circle"></i>
                </button>
            </h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-theme fw-bold" 
                    role="progressbar" [style.width]="habilidad.porcentaje + '%'" 
                    attr.aria-valuenow="habilidad.porcentaje" aria-valuemin="0" 
                    aria-valuemax="100">{{habilidad.porcentaje}}%
                </div>
            </div>
        </ol>
    </div>
</div>