<br>
<mat-card>
    <mat-card-title>
        <h1>Habilidades</h1>
    </mat-card-title>
    <button *ngIf="isUserLoggedIn()" (click)="openAddDialog()" 
        mat--mini-fab color="primary" id="editButton" 
        matTooltip="Agregar habilidad">
        <mat-icon>add</mat-icon>
    </button>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let habilidad of habilidades">
                <mat-progress-spinner
                    [value]="habilidad.porcentaje"
                    mode="determinate">
                </mat-progress-spinner>
                <h2>{{habilidad.habilidad}}</h2>
                <button mat--mini-fab color="secondary" *ngIf="isUserLoggedIn()" 
                    (click)="openEditDialog(habilidad.id)" 
                    class="editButton" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
                </button>    
                <button mat--mini-fab color="secondary" *ngIf="isUserLoggedIn()" 
                    (click)="eliminar(habilidad.id)" 
                    class="editButton" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>        
    </mat-card-content>
</mat-card>
<br>