<mat-card class="card">
    <button id="editProfileButton" mat-mini-fab 
        class="editButton" *ngIf="false"
        matTooltip="Editar perfil">
        <mat-icon>edit</mat-icon>
    </button>
    <mat-list *ngFor="let about of about">
        <div id="headerImage" [ngStyle]="{'background-image': 'url(' + about.headerImage + ')'}" 
        alt="Foto de Portada">
            <img alt="Foto de Perfil" id="profilePhoto"
            [src]="about.profilePhoto">                
        </div>
        <h1 class="primaryText">{{about.name}}</h1>
        <h3 class="accentText">{{about.job}}</h3>
    </mat-list>
</mat-card>
