<form (ngSubmit)="add()">
    <h2 mat-dialog-title>Agregar poyecto</h2>
    <mat-dialog-content class="mat-typography">
        <mat-form-field class="form-field">
            <label for="projectName">Nombre del proyecto</label>
            <input matInput [(ngModel)]="project.projectName" 
            type="text" appearance="fill"
            class="form-control" id="projectName" name="peojectName">
        </mat-form-field>
        <mat-form-field class="form-field">
            <label for="description">Descripcion del proyecto</label>
            <input matInput [(ngModel)]="project.description" 
            type="text" appearance="fill"
            class="form-control" id="description" name="description">
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <label for="projectURL">URL del proyecto</label>
            <input matInput [(ngModel)]="project.projectURL" 
            type="text" appearance="fill"
            class="form-control" id="projectURL" name="projectURL">
        </mat-form-field>
        <mat-form-field class="form-field">
            <label for="sourceCode">URL código fuente</label>
            <input matInput [(ngModel)]="project.sourceCode" 
            type="text" appearance="fill"
            class="form-control" id="sourceCode" name="sourceCode">
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <label for="projectLogo">Logo del proyecto</label>
            <input matInput [(ngModel)]="project.projectLogo" 
            type="text" appearance="fill"
            class="form-control" id="projectLogo" name="projectLogo">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" mat-raised-button color="primary"
            [mat-dialog-close]="true" cdkFocusInitial
            matTooltip="Agregar">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-raised-button color="accent"
            mat-dialog-close matTooltip="Salir">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-dialog-actions>
</form>
    