<form class="row card m-3">
        <div class="row">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input [ngModel]="educacion.titulo" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="institucion">Institucion</label>
                <input [ngModel]="educacion.institucion" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="fecha">Fecha</label>
                <input [ngModel]="educacion.fecha" type="text" class="form-control">
            </div>
            <div class="col form-group">
                <label for="duracion">Duracion</label>
                <input [ngModel]="educacion.duracion" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col text-centered">
                <button (click)="agregarEducacion()" type="submit" class="btn btn-theme">AGREGAR</button>
            </div>
            <div class="col">

            </div>
        </div>
 </form>