<h2 mat-dialog-title>Editar educacion/h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field>
        <label for="titulo">Titulo</label>
        <input [(ngModel)]="educacion.titulo" type="text" 
        id="titulo" name="titulo">
    </mat-form-field>
    <mat-form-field>
        <label for="institucion">Institucion</label>
        <input [(ngModel)]="educacion.institucion" type="text" 
        id="institucion" name="institucion">
    </mat-form-field>
    <br>
    <mat-form-field>
        <label for="fecha">Fecha</label>
        <input [(ngModel)]="educacion.fecha" type="text" 
        id="fecha" name="fecha">
    </mat-form-field>
    <mat-form-field>
        <label for="duracion">Duracion</label>
        <input [(ngModel)]="educacion.duracion" type="text" 
        id="duracion" name="duracion">
    </mat-form-field>
    <mat-form-field>
        <label for="logo">URL logo de la institucion</label>
        <input [(ngModel)]="educacion.logo" type="text" 
        id="logo" name="logo">
    </mat-form-field>
    <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary"
    (click)="agregar()" cdkFocusInitial
    matTooltip="Agregar">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-raised-button color="accent"
    mat-dialog-close matTooltip="Salir">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>
