<h2 mat-dialog-title>Editar proyecto</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field>
        <label for="nombre">Nombre del proyecto</label>
        <input [(ngModel)]="proyecto.nombre" type="text" 
        class="form-control" id="nombre" name="nombre">
    </mat-form-field>
    <mat-form-field>
        <label for="descripcion">Descripcion del proyecto</label>
        <input [(ngModel)]="proyecto.descripcion" type="text" 
        class="form-control" id="descripcion" name="descripcion">
    </mat-form-field>
    <br>
    <mat-form-field>
        <label for="url">URL del proyecto</label>
        <input [(ngModel)]="proyecto.url" type="text" 
        class="form-control" id="url" name="url">
    </mat-form-field>
    <mat-form-field>
      <label for="codigoFuente">URL del proyecto</label>
      <input [(ngModel)]="proyecto.codigoFuente" type="text" 
      class="form-control" id="codigoFuente" name="codigoFuente">
    </mat-form-field>
    <br>
    <mat-form-field>
        <label for="logo">Logo del proyecto</label>
        <input [(ngModel)]="proyecto.logo" type="text" 
        class="form-control" id="logo" name="logo">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary"
    (click)="guardarCambios()" cdkFocusInitial
    matTooltip="Guardar cambios">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-raised-button color="accent"
    mat-dialog-close matTooltip="Salir">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>
