<br>
<mat-card>
    <h1>Educacion</h1>
        <button *ngIf="isUserLoggedIn()" mat-mini-fab color="primary"
            (click)="openAddDialog()" matTooltip="Agregar educacion">
            <mat-icon>add</mat-icon>
        </button>
    <mat-list>
        <mat-list-item *ngFor="let educacion of educacion">
            <img 
            [src]="educacion.logo" id="educacionPhoto"
            [alt]="'Logo' + educacion.institucion">
            <h3>{{educacion.titulo}} </h3>
            <br>
            <h5>{{educacion.institucion}}</h5>
            <br>
            <p>{{educacion.fecha}} - {{educacion.duracion}} hs</p>
            <button mat-mini-fab color="accent" *ngIf="isUserLoggedIn()" 
                (click)="openEditDialog(educacion.id)" 
                matTooltip="Editar">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="accent" *ngIf="isUserLoggedIn()" 
                (click)="eliminar(educacion.id)" 
                matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
            </button> 
        </mat-list-item>
    </mat-list>            
</mat-card>
<br>


