<div class="card m-3">
    <div class="row m-2">
            <div class="col-9">
                <h1 class="text-theme">Educacion</h1>
            </div>
            <div class="col">
                <a [routerLink]="'/agregar-educacion'"><button class="btn btn-theme float-end">EDITAR</button></a>
            </div>
        <ul class="list-unstyled">
            <li *ngFor="let educacion of listaEducacion | async">
                <div class="row justify-content-center align-items-center border-top border-bottom">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-2">
                            <button (click)="editar()" class="btn btn-secondary">EDITAR</button>
                            <button (click)="eliminar(educacion.id)" class="btn btn-danger float-end">ELIMINAR</button>
                        </div>
                    </div>
                    <div class="col-1">
                        <img class="img-fluid rounded-circle border" [src]="educacion.logo">
                    </div>
                    <div class="col-11">
                        <h3 class="text-secondary">{{educacion.titulo}}</h3>
                        <h5>{{educacion.institucion}}</h5>
                        <p>{{educacion.fecha}} - {{educacion.duracion}} hs</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>