<h2 mat-dialog-title>Iniciar sesion</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="checkLogin()">
    <div>
      <label for="username">Usuario</label>
      <input type="text" name="username" autocomplete="username" 
      [(ngModel)]="username">
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input type="password" name="password" autocomplete="current-password" 
      [(ngModel)]="password">
    </div>
  </form>  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary"
    [mat-dialog-close]="true" cdkFocusInitial
    matTooltip="Iniciar sesion">
    <i class="bi bi-check-circle"></i>
  </button>
  <button mat-raised-button color="accent"
    mat-dialog-close matTooltip="Salir">
    <i class="bi bi-x-circle"></i>
  </button>
</mat-dialog-actions>