<h2 mat-dialog-title>Iniciar sesion</h2>
<mat-dialog-content class="mat-typography">
  <form (ngSubmit)="checkLogin()">
    <div class="mb-3">
      <label for="username">Usuario</label>
      <input type="text" name="username" autocomplete="username" 
      [(ngModel)]="username">
    </div>
    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" name="password" autocomplete="current-password" 
      [(ngModel)]="password">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-theme" 
      data-toggle="tooltip" data-placement="bottom" 
      title="Iniciar sesion">
          <i class="bi bi-check-circle"></i>
      </button>
      <a [routerLink]="'/portfolio'">
        <button class="btn btn-secondary" 
        data-toggle="tooltip" data-placement="bottom" 
        title="Salir">
          <i class="bi bi-x-circle"></i>
        </button>
      </a>
    </div>
  </form>  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>