<form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
  <h2 mat-dialog-title>Iniciar sesión</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <label for="username">Usuario</label>
      <input matInput appearance="fill" type="text" 
      name="username" autocomplete="username" formControlName="username" >
      <mat-error *ngIf="loginForm.invalid">
        {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <label for="password">Contraseña</label>
      <input matInput appearance="fill" type="password" 
      name="password" autocomplete="current-password" formControlName="password">
      <mat-error *ngIf="loginForm.invalid">
        {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary"
      [mat-dialog-close]="true" cdkFocusInitial
      matTooltip="Iniciar sesion">
      <mat-icon>check</mat-icon>
    </button>
    <button type="button" mat-raised-button color="accent"
      mat-dialog-close matTooltip="Salir">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-dialog-actions>
</form>
  
    
