<mat-card>
    <h1>Proyectos</h1>
    <button *ngIf="isUserLoggedIn()" (click)="openAddDialog()" mat-mini-fab color="primary"
        class="editButton" matTooltip="Agregar proyecto">
        <mat-icon>add</mat-icon>
    </button>            
    <mat-list>
        <mat-list-item *ngFor="let proyecto of proyectos">
            <img [src]="proyecto.logo" 
            id="proyectPhoto" [alt]="'Logo' + proyecto.nombre">
            <h3>{{proyecto.nombre}}</h3>
                <button *ngIf="isUserLoggedIn()" (click)="openEditDialog(proyecto.id)" 
                    mat-mini-fab color="accent"
                    matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isUserLoggedIn()" (click)="eliminar(proyecto.id)" 
                    mat-mini-fab color="accent"
                    matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            <h5>{{proyecto.descripcion}}</h5>
                        <a href="{{proyecto.codigoFuente}}">
                            <button mat-raised-button color="accent" class="editButton"
                            data-toggle="tooltip" 
                            matTooltip="Código fuente">
                                <mat-icon>code</mat-icon>
                            </button>
                        </a>
                        <a href="{{proyecto.url}}">
                            <button mat-raised-button color="accent" class="editButton"
                            matTooltip="Ver proyecto">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </a>
        </mat-list-item>
    </mat-list>
</mat-card>