<div class="card m-3">
    <div class="row m-2">
        <div class="col-9">
            <h1 class="text-theme">
                Proyectos
                <a *ngIf="isUserLoggedIn()" [routerLink]="'/agregar-proyectos'">
                    <button class="btn btn-theme rounded-circle" 
                        data-toggle="tooltip" 
                        data-placement="bottom" title="Agregar proyecto">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </a>
            </h1>
        </div>
        <ol class="list-unstyled">
            <li *ngFor="let proyecto of proyectos">
                <div class="row border-top border-bottom">
                    <div class="col-1">
                        <img class="rounded-circle border" [src]="proyecto.logo" 
                        id="proyectPhoto" [alt]="'Logo' + proyecto.nombre">
                    </div>
                    <div class="col-11">
                        <h3 class="text-secondary">
                            {{proyecto.nombre}}
                            <button *ngIf="isUserLoggedIn()" (click)="editar(proyecto.id)" 
                                class="btn btn-secondary rounded-circle" data-toggle="tooltip" 
                                data-placement="bottom" title="Editar">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button *ngIf="isUserLoggedIn()" (click)="eliminar(proyecto.id)" 
                                class="btn btn-danger rounded-circle" data-toggle="tooltip" 
                                data-placement="bottom" title="Eliminar">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </h3>
                        <h5>{{proyecto.descripcion}}</h5>
                        <a href="{{proyecto.url}}">
                            <button class="btn btn-theme" data-toggle="tooltip" 
                            data-placement="bottom" title="Ver proyecto">
                                <i class="bi bi-eye"></i>
                            </button>
                    </a>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>