<div class="row form card m-3">
    <div class="row">
        <div>
            <label for="empresa">Empresa</label>
            <input  type="text" class="form-control" formControlName="empresa">
        </div>
        <div>
            <label for="puesto">Puesto</label>
            <input  type="text" class="form-control" formControlName="puesto">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="inicio">Desde</label>
            <input  type="text" class="form-control" formControlName="inicio">
        </div>
        <div class="col">
            <label for="fin">Hasta</label>
            <input  type="text" class="form-control" formControlName="fin">
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col text-centered">
            <button class="btn btn-theme">AGREGAR</button>
        </div>
        <div class="col">

        </div>
    </div>
</div>