<mat-card class="card">
    <h1 class="primaryText">
        Proyectos
        <button *ngIf="isUserLoggedIn()" (click)="openAddDialog()" 
            mat-mini-fab color="primary"
            class="editButton" matTooltip="Agregar proyecto">
        <mat-icon>add</mat-icon>
        </button>
    </h1>          
    <mat-list>
        <mat-list-item *ngFor="let project of projects">
            <img [src]="project.projectLogo" 
            id="proyectPhoto" [alt]="'Logo' + project.projectName">
            <h3 mat-line class="accentText">{{project.projectName}}</h3>
            <h5 mat-line>{{project.description}}</h5>
            <div class="buttonGroup">
                <a href="{{project.sourceCode}}">
                    <button mat-mini-fab color="accent" class="editButton"
                        data-toggle="tooltip" 
                        matTooltip="Código fuente">
                            <mat-icon>code</mat-icon>
                        </button>
                </a>
                <a href="{{project.projectURL}}">
                    <button mat-mini-fab color="accent" class="editButton"
                        matTooltip="Ver proyecto">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </a>
            </div>
            <div class="editButtonGroup">
                <button *ngIf="isUserLoggedIn()" (click)="openEditDialog(project.id)" 
                    mat-mini-fab color="accent"
                    matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isUserLoggedIn()" (click)="delete(project.id)" 
                    mat-mini-fab color="warn"
                    matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <br>
        </mat-list-item>
    </mat-list>
</mat-card>