<div class="card m-3">
    <div class="row">
        <div class="col">
            <img class="rounded-circle border" id="headerLogo"
            src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj" 
            alt="Logo Argentina Programa">
        </div>
      <div class="col-5">
            <p class="text-theme">Argentina Programa - #Yo Programo</p>
        </div>
        <div class="col-6">
            <div class="btn-toolbar">
                <a href="https://ar.linkedin.com/in/darioplacidogandini">
                    <button class="btn btn-secondary rounded-circle" id="headerButton" 
                    data-toggle="tooltip" data-placement="bottom" title="Cuenta de Linkedin">
                        <i class="bi-linkedin"></i>
                    </button></a>
                <a href="https://github.com/darioplacidogandini">
                    <button class="btn btn-secondary rounded-circle" id="headerButton"
                    data-toggle="tooltip" data-placement="bottom" title="Repositorio de GitHub">
                        <i class="bi-github"></i>
                    </button>
                </a>
                <a class="text-light" href="mailto:darioplacidogandini@outlook.com">
                    <button class="btn btn-secondary rounded-circle" id="headerButton"
                    data-toggle="tooltip" data-placement="bottom" title="Email de contacto">
                        <i class="bi-envelope"></i>
                    </button>
                </a>
                <button class="btn btn-theme" 
                    data-bs-toggle="modal" data-bs-target="#loginModal"
                    data-toggle="tooltip" data-placement="bottom" title="Iniciar sesión">
                        LOGIN
                </button>
                <button *ngIf="isUserLoggedIn()" (click)="closeSession()" 
                    class="btn btn-danger" 
                    data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión">
                    SALIR
                </button>
            </div>
        </div>
    </div>
</div>

