mat-card {
    height: 150px;
    display: flex;
    flex-direction: row;
}

#headerTitle {
    float: left;
}

#headerMenu {
    float: right;
}

#headerLogo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#headerButton {
    height: 35px;
    width: 35px;
    align-content: center;
}

mat-icon {
    height: 15px;
    width: 15px;
}