<mat-card class="card">
    <h1 class="primaryText">
        Habilidades
        <button mat-mini-fab color="primary" class="editButton" 
            matTooltip="Agregar habilidad">
            <mat-icon>add</mat-icon>
        </button>
    </h1>
    <mat-grid-list cols="5" rowHeight="160px">
        <mat-list>
            <mat-grid-tile colspan="1" *ngFor="let hability of habilities">
                <mat-list-item >
                    <div class="habilityContainer">
                        <mat-progress-spinner mat-list-icon
                        [value]="hability.percentage"
                        mode="determinate">
                        </mat-progress-spinner>
                        <div class="spinnerText">
                            {{hability.percentage}}%
                         </div>
                        <h2 class="accentText">{{hability.hability}}</h2>
                    </div>
                    <div class="editButtonGroup">
                        <button mat-mini-fab class="editButton" color="accent" 
                            class="editButton" matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>    
                        <button mat-mini-fab class="editButton" color="warn" 
                            class="editButton" matTooltip="Eliminar">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-grid-tile>
        </mat-list>        
    </mat-grid-list>
</mat-card>
