<br>
<mat-card>
    <h1 color="primary">Experiencia Laboral
        <button *ngIf="isUserLoggedIn()" mat-fab color="primary" class="editButton" 
            matTooltip="Agregar experiencia">
            <mat-icon>plus</mat-icon>
        </button>
    </h1>            
    <mat-list>
        <mat-list-item *ngFor="let experiencia of experiencia">
            <img [src]="experiencia.logo" 
            id="companyLogo" [alt]="'Logo' + experiencia.empresa">
            <h3>{{experiencia.empresa}}</h3>
            <h5>{{experiencia.puesto}}</h5>
            <p>{{experiencia.inicio}} - {{experiencia.fin}}</p>
            <button *ngIf="isUserLoggedIn()" (click)="editar(experiencia.id)" 
                mat-fab class="editButton"
                matTooltip="Editar">
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="isUserLoggedIn()" (click)="eliminar(experiencia.id)" 
                mat-fab class="editButton"
                matTooltip="Eliminar">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-list-item>            
    </mat-list>
</mat-card>       
              