<div class="card m-3">
    <div class="row m-2">
        <div class="col-9">
            <h1 class="text-theme">Experiencia Laboral</h1>
        </div>
        <div class="col">
            <a [routerLink]="'/agregar-experiencia'"><button class="btn btn-theme float-end">EDITAR</button></a>
        </div>
        <ul class="list-unstyled">
            <li *ngFor="let experiecia of listaExperiencia | async">
                <div class="row justify-content-center align-items-center border-top border-bottom">
                    <div class="col-1">
                        <img class="img-fluid rounded-circle border" [src]="experiecia.logo">
                    </div>
                    <div class="col-11">
                        <button (click)="editar()" class="btn btn-secondary">EDITAR</button>
                        <button (click)="eliminar(experiecia.id)" class="btn btn-danger float-end">ELIMINAR</button>
                        <h3 class="text-secondary">{{experiecia.empresa}}</h3>
                        <h5>{{experiecia.puesto}}</h5>
                        <p>{{experiecia.inicio}} - {{experiecia.inicio}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>