<form (ngSubmit)="guardarCambios()" class="row card m-3">
    <div class="row">
        <div>
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="acerca.nombre" type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div>
            <label for="puesto">Puesto</label>
            <input [(ngModel)]="acerca.puesto" type="text" class="form-control" id="puesto" name="puesto">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="foto">URL foto de Perfil</label>
            <input [(ngModel)]="acerca.foto" type="text" class="form-control" id="foto" name="foto">
        </div>
        <div class="col">
            <label for="portada">URL foto Portada</label>
            <input [(ngModel)]="acerca.portada" type="text" class="form-control" id="portada" name="portada">
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col text-centered">
            <button class="btn btn-theme">GUARDAR</button>
            <a [routerLink]="'/portfolio'"><button class="btn btn-secondary">SALIR</button></a>
        </div>
        <div class="col">

        </div>
    </div>
</form>