<form (ngSubmit)="saveChanges()">
  <h2 mat-dialog-title>Editar perfil</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="name">Nombre</mat-label>
        <input matInput [(ngModel)]="about.name" 
        type="text" appearance="fill"
        class="form-control" id="name" name="name">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="job">Puesto</mat-label>
        <input matInput [(ngModel)]="about.job" 
        type="text" appearance="fill"
        class="form-control" id="job" name="job">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="profilePhoto">URL foto de Perfil</mat-label>
        <input matInput [(ngModel)]="about.profilePhoto" 
        type="text" appearance="fill"
        class="form-control" id="profilePhoto" name="profilePhoto">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="headerLogo">URL foto Portada</mat-label>
        <input matInput [(ngModel)]="about.headerImage" 
        type="text" appearance="fill"
        class="form-control" id="headerLogo" name="headerLogo">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary"
      [mat-dialog-close]="true" cdkFocusInitial 
      matTooltip="Guardar cambios">
      <mat-icon>check</mat-icon>
    </button>
    <button type="button" mat-raised-button color="accent"
      mat-dialog-close matTooltip="Salir">
      <mat-icon>cancel</mat-icon>
  </button>
  </mat-dialog-actions>
</form>
