<mat-card class="card">
    <h1 class="primaryText">
        Educación
        <button mat-mini-fab color="primary"
            class="editButton"
            matTooltip="Agregar educación">
            <mat-icon>add</mat-icon>
        </button>
    </h1>
    <mat-list>
        <mat-list-item *ngFor="let education of education">
            <img [src]="education.institutionLogo" id="educacionPhoto"
            [alt]="'Logo' + education.institutionLogo">
            <h3 mat-line class="accentText">{{education.title}} </h3>
            <h5 mat-line>{{education.institution}}</h5>
            <p mat-line>{{education.date}} - {{education.duration}} hs</p>
            <div class="editButtonGroup">
                <button mat-mini-fab color="accent" class="editButton"
                    matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" class="editButton"
                    matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
                </button>
            </div> 
        </mat-list-item>
    </mat-list>            
</mat-card>




