<form (ngSubmit)="agregarProyecto()" class="row card m-3">
    <div class="row">
        <div>
            <label for="nombre">Nombre del proyecto</label>
            <input  type="text" class="form-control" formControlName="nombre">
        </div>
        <div>
            <label for="descripcion">Descripcion del proyecto</label>
            <input  type="text" class="form-control" formControlName="descripcion">
        </div>
        <div>
            <label for="url">URL del proyecto</label>
            <input  type="text" class="form-control" formControlName="url">
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col text-centered">
            <button type="submit" class="btn btn-theme">AGREGAR</button>
        </div>
        <div class="col">

        </div>
    </div>
</form>