<form (ngSubmit)="saveChanges()">
  <h2 mat-dialog-title>Editar proyecto</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="proyectName">Nombre del proyecto</mat-label>
        <input matInput [(ngModel)]="project.projectName" 
        type="text" appearance="fill"
        class="form-control" id="proyectName" name="proyectName">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="descripcion">Descripcion del proyecto</mat-label>
        <input matInput [(ngModel)]="project.description" 
        type="text" appearance="fill"
        class="form-control" id="description" name="description">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="projectURL">URL del proyecto</mat-label>
        <input matInput [(ngModel)]="project.projectURL" 
        type="text" appearance="fill"
        class="form-control" id="projectURL" name="projectURL">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label for="sourceCode">Repositorio codigo</mat-label>
      <input matInput [(ngModel)]="project.sourceCode" 
      type="text" appearance="fill"
      class="form-control" id="sourceCode" name="sourceCode">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="projectLogo">Logo del proyecto</mat-label>
        <input matInput [(ngModel)]="project.projectLogo" 
        type="text" appearance="fill"
        class="form-control" id="projectLogo" name="projectLogo">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary"
    [mat-dialog-close]="true" cdkFocusInitial
    matTooltip="Guardar cambios">
    <mat-icon>check</mat-icon>
  </button>
  <button type="button" mat-raised-button color="accent"
    mat-dialog-close matTooltip="Salir">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>
</form>

