<div class="card m-3 h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col" *ngFor="let header of headerList">
            <img class="img-fluid rounded-circle border" [src]="header.logoArgProg" alt="header.alt">
        </div>
      <div class="col-5">
            <p class="text-theme">Argentina Programa - #Yo Programo</p>
        </div>
        <div class="col-6">
            <div class="btn-toolbar gap-2 justify-content-center align-items-center float-end">
                <a href="https://ar.linkedin.com/in/darioplacidogandini"><button class="btn btn-sm btn-secondary rounded-circle"><i class="bi-linkedin"></i></button></a>
                <a href="https://github.com/darioplacidogandini"><button class="btn btn-sm btn-secondary rounded-circle"><i class="bi-github"></i></button></a>
                <a class="text-light" href="mailto:darioplacidogandini@outlook.com"><button class="btn btn-sm btn-secondary rounded-circle"><i class="bi-envelope"></i></button></a>
                <a [routerLink]="'/iniciar-sesion'"><button class="btn btn-theme" data-toggle="tooltip" data-placement="bottom" title="Haga click aquí para iniciar sesión">LOGIN</button></a>
                <a><button *ngIf="autenticacionService.logIn" (click) = "autenticacionService.logOut" class="btn btn-danger float-end" data-toggle="tooltip" data-placement="bottom" title="Haga click aquí para cerrar sesión">SALIR</button></a>
            </div>
        </div>
    </div>
</div>