body {
    margin: 0;
    padding: 5px;
    height: 100%;
}

#headerToolbar {
    margin-bottom: 4px;
}

#profilePhoto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}

#editProfileButton {
    align-self: flex-end;
}

#projectPhoto {
    margin-top: 15px;
    margin-bottom: 15px;
}

.loadingDialogBackground {
    background-color: white;
}

.loadingDialogPanel >  mat-dialog-container {
    box-shadow: none;
    color: steelblue;
    text-align: center;
}

.card {
    margin-bottom: 4px;
    margin-top: 4px;
}

.primaryText {
    color: steelblue;
    font-weight: bolder;
    padding-bottom: 0px;
}

.accentText {
    color: slategray;
    font-weight: bold;
}

.form-field {
    margin-left: 4px;
    margin-right: 4px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
}

.editButtonGroup {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.editButton {
    margin: 5px;
}

.listElement {
    margin-bottom: 10px;
}

.habiltyContainer {
    display: flex;
    flex-direction: column;
}

.spinnerText {
    color: steelblue;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    transform: translate(35px,0px);
}




