body {
    margin: 0;
    padding: 5px;
    height: 100%;
}

.headerToolbar {
    margin-bottom: 4px;
}

.card {
    margin-bottom: 4px;
    margin-top: 4px;
}

.form-field {
    margin-left: 4px;
    margin-right: 4px;
}




